<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM1xM_5KE_pdy4j9L7RrVWnmJNfVaDdbs</string>
	<key>GCM_SENDER_ID</key>
	<string>441495861898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drivecare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>drivecare-b1f35</string>
	<key>STORAGE_BUCKET</key>
	<string>drivecare-b1f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441495861898:ios:2a48a28de1717513ed8b73</string>
</dict>
</plist>